<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Best Restaurants</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
    <h1>Best Restaurants</h1>
    <em>Welcome! Let's get some noms!</em>
    </div>
  <a href="/cuisines" class="btn btn-dark">View types of cuisine</a>
  @* <a href="/cuisines/new" class="btn btn-dark">Add new type of cuisine</a> *@
  </div>
</body>
</html>
